body {
    font-family: Verdana,Arial,sans-serif;
    font-size: 83%;
    }
    h1 {
    border-style: double;
    color: rgb(47, 17, 155);
    text-align: center;
    }
    h2 {
    color: rgb(50, 217, 223);
    margin-bottom: 0px;
    font-size: 100%;
    }
    li {
    font-style: italic;
    }
    p {
    margin-top: 2px;
    }